.profile__edit-button {
  background-image: url(../../../images/profile/Edit_Button.svg);
  margin: 16px 0 auto 20px;
  background-color: black;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
	.profile__edit-button {
    margin: 19px 10px 0 10px;
    background-image: url(../../../images/profile/Edit_Button_mobile.svg);
    border: none;
    width: 18px;
    height: 18px;
  }
}