.header__logo {
  margin: 45px 0 40px 0;
  width: 142px;
}

@media screen and (max-width:887px) {
  .header__logo {
    margin: 35px 0 35px 27px;
    width: 120px;
  }
}

@media screen and (max-width:425px) {
  .header__logo {
    margin: 28px 0 30.6px 27px;
    width: 103.74px;
  }
}
