.element__heart {
  transition: opacity .3s linear;
  cursor: pointer;
  background: url(../../../image/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  padding: 0;
}
.element__heart:hover {
  opacity: .5;
}
