.elements__like {
  background: url(../../../images/elements/Like.svg) white center no-repeat;
  width: 21px;
  height: 18px;
  background-size: 100%;
  border: none;
  background-color: white;
  margin: 31px 20px auto auto;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}